@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

/* 'text': '#1f1005',
'background': '#fdf7f2',
'primary': '#8dc3ec',
'secondary': '#f1c7a7',
'accent': '#1d70af', */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600&display=swap') ;

body {
  font-family: "Noto Sans" sans-serif ;
  background-color:  #f9f9f9 ;
  /* background-color: whitesmoke; */
  /* background-color: #bbc9dd; */
  font-size: 14px;
}

html {
  scroll-behavior : smooth ;
}


.react-select div {
  background-color: transparent;

}



#react-select-2-listbox div {
  background-color: #f9f9f9;
  color: black;
  
}

#react-select-5-listbox div{
  background-color: #f9f9f9;
  color: black;
}



#pricing::before ,  #features::before  {
  content: '';
  margin-top: 5vh; 
}